<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="LocalDbConnection" connectionString="Server=192.168.1.232\SQLEXPRESS;Database=RambaiTest;User Id=sa;Password=Abrar@123;Connect Timeout=30;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="BranchId" value="1" />
    <add key="ApiKey" value="MNG_SECURE_API_KEY_2026" />
    <add key="CentralApiUrl" value="http://localhost:5000" />
    <add key="PollIntervalSeconds" value="5" />
    <add key="BatchSize" value="20" />
    <add key="MaxRetries" value="10" />
  </appSettings>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>
